<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Mon Profil - WoOx Travel</title>

    <!-- Custom fonts -->
    <link href="{{ asset('assets/back/vendor/fontawesome-free/css/all.min.css') }}" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">

    <!-- Custom styles -->
    <link href="{{ asset('assets/back/css/sb-admin-2.min.css') }}" rel="stylesheet">
</head>

<body class="bg-gradient-primary">
<div class="container">
    <div class="card o-hidden border-0 shadow-lg my-5">
        <div class="card-body p-0">
            <div class="row">
                <div class="col-lg-5 d-none d-lg-block">
                    <img src="{{ asset('assets/back/img/register-bg.jpg') }}" alt="Profile Image" class="img-fluid" style="width: 100%; height: 100%; object-fit: cover;">
                </div>
                <div class="col-lg-7">
                    <div class="p-5">
                        <div class="text-center">
                            <h1 class="h4 text-gray-900 mb-4">Mon Profil</h1>
                        </div>
                        {% for message in app.flashes('success') %}
                            <div class="alert alert-success">{{ message }}</div>
                        {% endfor %}
                        {% for message in app.flashes('warning') %}
                            <div class="alert alert-warning">{{ message }}</div>
                        {% endfor %}
                        {% for message in app.flashes('error') %}
                            <div class="alert alert-danger">{{ message }}</div>
                        {% endfor %}
                        <div class="user">
                            <h5 class="text-gray-900">Salut, {{ user.getNom() }} {{ user.getPrenom() }}</h5>
                            <p><strong>Email:</strong> {{ profil.email }}</p>
                            <p><strong>Téléphone:</strong> {{ profil.numTel ?: 'Non défini' }}</p>
                            <p><strong>Adresse:</strong> {{ profil.adresse ?: 'Non défini' }}</p>
                            <p><strong>Nationalité:</strong> {{ user.nationalite }}</p>
                            <p><strong>Genre:</strong> {{ user.genre }}</p>
                            <div class="mt-3">
                                <a href="{{ path('app_profil_edit', {'id': profil.id}) }}" class="btn btn-primary btn-user btn-block">Modifier</a>
                            </div>
                            <div class="mt-3">
                                <a href="{{ path('app_evenement_index_front') }}" class="btn btn-secondary btn-user btn-block">Retour à l'accueil</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Bootstrap core JavaScript -->
<script src="{{ asset('assets/back/vendor/jquery/jquery.min.js') }}"></script>
<script src="{{ asset('assets/back/vendor/bootstrap/js/bootstrap.bundle.min.js') }}"></script>

<!-- Core plugin JavaScript -->
<script src="{{ asset('assets/back/vendor/jquery-easing/jquery.easing.min.js') }}"></script>

<!-- Custom scripts -->
<script src="{{ asset('assets/back/js/sb-admin-2.min.js') }}"></script>
</body>
</html>