{% extends 'admin.html.twig' %}

{% block title %}ContratSponsoring {% endblock %}

{% block body %}
    <h1>ContratSponsoring </h1>

    <table class="table">
        <thead>
            <tr>
                <th>Montant</th>
                <th>Description</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for contrat_sponsoring in contrat_sponsorings %}
            <tr>
                <td>{{ contrat_sponsoring.montant }}</td>
                <td>{{ contrat_sponsoring.description }}</td>
                <td>
                    <a href="{{ path('app_contrat_sponsoring_show', {'id': contrat_sponsoring.id}) }}">show</a>
                    <a href="{{ path('app_contrat_sponsoring_edit', {'id': contrat_sponsoring.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_contrat_sponsoring_new') }}">Create new</a>
{% endblock %}
