{% extends 'base.html.twig' %}

{% block title %}Produitsponsoring{% endblock %}

{% block body %}
    <h1>Produitsponsoring</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ produitsponsoring.id }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ produitsponsoring.nom }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ produitsponsoring.description }}</td>
            </tr>
            <tr>
                <th>Quantite</th>
                <td>{{ produitsponsoring.quantite }}</td>
            </tr>
            <tr>
                <th>Prix</th>
                <td>{{ produitsponsoring.prix }}</td>
            </tr>
            <tr>
                <th>Image</th>
                <td>{{ produitsponsoring.image }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_produitsponsoring_index') }}">back to list</a>

    <a href="{{ path('app_produitsponsoring_edit', {'id': produitsponsoring.id}) }}">edit</a>

    {{ include('produitsponsoring/_delete_form.html.twig') }}
{% endblock %}
